@import './theme.css';
@import './helper.css';
@import './componentStyles/header.css';
@import './componentStyles/banner.css';
@import './componentStyles/textOnlyBanner.css';
@import './componentStyles/about.css';
@import './componentStyles/techStack.css';
@import './componentStyles/projects.css';
@import './componentStyles/whyChoose.css';
@import './componentStyles/blog.css';
@import './componentStyles//ctaForm.css';
@import './componentStyles/footer.css';



html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", serif;
}

#About,
#Blog,
#Skills,
#WhyChoose{
  scroll-margin-top:60px ;
}

* {
  margin: 0;
  box-sizing: border-box;
}
.bg-gray{
  background-color: var(--gray-primary);
  display: flex;
}
.devlop-bar{
  margin: 80px 0;
}


