.container {
  margin: auto;
  max-width: 1280px;
  padding: 60px 15px;
}

/* space top */
.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-50 {
  margin-top: 50px;
}


/* space bottom */
.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.text-center {
  text-align: center;
}

/* font-weight start */
.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

/* font-weight end */

/* font varient start */
.common_h1 {
  font-size: 42px;
  font-weight: 500;
}
.common_h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 56px;
  color: var(--foreground-primary);
}

.common-sub-heading-varient-1 {
  font-size: 20px;
  line-height: 30px;
  color: var(--foreground-primary);
}

.common-para-varient-1 {
  font-size: 18px;
  line-height: 28px;
}

.common-para-varient-2 {
  font-size: 16px;
  line-height: 24px;
}

.common-para-varient-3 {
  font-size: 14px;
  line-height: 20px;
  color: var(--foreground-primary);
}
.theme-text-black{
  color: var(--foreground-primary);
}
.btn-primary {
  padding: 10px 16px;
  color: var(--foreground-primary);
  background-color: var(--white-primary);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: all 0.4s linear;
  outline:none;
}
.btn-primary:hover{
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  
}
.headerPadding{
  padding-top: 100px;
}

/* font varient end */


@media screen and (max-width:991px) {
  .btn-primary {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  }
  .container {
    padding: 40px 15px;
  }
  .common_h1 {
    font-size: 32px;
    font-weight: 600;
  }

.common_h2 {
  font-size: 28px;
  line-height: 36px;
}

.common-sub-heading-varient-1 {
  font-size: 18px;
  line-height: 28px;
}

.common-para-varient-1 {
  font-size: 16px;
  line-height: 24px;
}

.common-para-varient-2 {
  font-size: 14px;
  line-height: 20px;
}

.common-para-varient-3 {
  font-size: 12px;
  line-height: 18px;
}
.headerPadding{
  padding-top: 80px;
}

}