:root{
  --header-primary:#e7741b;
  --static-white:#ffffff;
  --static-black:#171717;
  --about-avatar-1:#d714d8;
  --about-avatar-2:#008000;
  --cta-linear: linear-gradient(to bottom, #182bd4, #030303);
  --cta-primary:#0a0ad2;
  --error-foreground:#ff0000;
  --banner-shadow:#e7741b;
  --liner-primary:  linear-gradient( 89.2deg,  rgba(255,255,255,1) -1.3%, rgba(253,109,38,1) 281.6% );;
}
.light {
    --background: #ffffff;
    --black-primary: #171717;
    --white-primary: #ffffff;
    --gray-primary:#f8f8f8;
    --foreground-primary: var(--black-primary);
    --foreground-secondary: var(--white-primary);
    --banner-linear-primary: var(--liner-primary);
    --highlight-primary: var(--liner-primary);
    --iconFilter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7447%) hue-rotate(212deg) brightness(116%) contrast(100%);
  }
  
  .dark {
    --background: #171717;
    --black-primary: #ffffff;
    --white-primary: #171717;
    --foreground-primary: var(--black-primary);
    --foreground-secondary: var(--white-primary);
    --banner-linear-primary: #171717;
    --highlight-primary: white;
    --iconFilter: none;
    --gray-primary:#171717;
  }
  