:root{
  --static-white:#ffffff;
  --static-black:#171717;
  --theme-primary:#7785e9;
  --cta-linear: linear-gradient(to bottom, var(--theme-primary), #030303);
  --error-foreground:#ff0000;
  --liner-primary: linear-gradient(89.2deg, #fff -1.3%, var(--theme-primary) 281.6%);
}
.light {
    --background: #ffffff;
    --black-primary: #171717;
    --white-primary: #ffffff;
    --gray-primary:#f8f8f8;
    --foreground-primary: var(--black-primary);
    --foreground-secondary: var(--white-primary);
    --banner-linear-primary: var(--liner-primary);
    --iconFilter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7447%) hue-rotate(212deg) brightness(116%) contrast(100%);
  }
  
  .dark {
    --background: #171717;
    --black-primary: #ffffff;
    --white-primary: #171717;
    --foreground-primary: var(--black-primary);
    --foreground-secondary: var(--white-primary);
    --banner-linear-primary: #171717;
    --iconFilter: none;
    --gray-primary:#171717;
  }
  