.about-card :where(span) {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--static-black);
}
#About .about-description{
    color: var(--foreground-primary);
}

.about-card :where(span)>img {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(73%) saturate(0%) hue-rotate(220deg) brightness(106%) contrast(101%);
}

.about-description {
    max-width: 900px;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-top: 60px;
}

.about-card {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    background: var(--liner-primary);
    color: var(--static-black);
    border-radius: 10px;
    gap: 12px;
    transition: 0.3s all ease-in;
}
.about-flex{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.about-flex .content-container{
    max-width: 600px;
}
.about-flex .img-container{
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
}
.about-flex .img-container img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

@media screen and (min-width:1200px) {
  
    .about-grid:has(.about-card:hover) .about-card:hover{
        box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    }
    .about-grid:has(.about-card:hover) .about-card:not(:hover){
        filter: blur(2px);
    }
}

@media screen and (max-width:1199px) {
    .about-flex .img-container img{
        width: 400px;
    }
}
@media screen and (max-width:991px) {
    .about-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-flex .img-container img{
        width: 320px;
    }
}

@media screen and (max-width:767px) {
    .about-grid {
        grid-template-columns: 100%;
    }

    .about-card {
        gap: 8px;
    }
    .about-flex{
        gap:25px ;
        flex-direction: column;
        align-items: center;
    }
    .about-flex .img-container img{
        width: 100%;
    }
}